<div class="mb-50 mb-sm-30">
  <div class="pos-relative mb-30 pt-15">
    <div class="font-8 abs-tl p-20 bg-primary color-white">
      <h4><b>Hạ long, hà tu</b></h4>

      <div class="brdr-style-1"></div>
    </div>
    <img src="images/blog-1-1000x400.jpg" alt="" />
  </div>
  <h4>
    <a href="#"><b>The secret of the perfect italian pizza</b></a>
  </h4>
  <h6 class="mt-10 bg-lite-blue dplay-inl-block">
    <a class="plr-20 mtb-10" href="#"><b>By Admin</b></a>
    <a class="plr-20 mtb-10 brder-lr-lite-black-2" href="#"
      ><b>in Recipes</b></a
    >
    <a class="plr-20 mtb-10" href="#"><b>3 Comments</b></a>
  </h6>
  <p class="mt-30">
    Proin dictum viverra varius. Etiam vulputate libero dui, at pretium elit
    elementum quis. Enean porttitor eros non ultrices convallis. Vivamus quis
    dolor ut arcu lobortis finibus a vitae leo. Sed eget tempus sem. Nullam sed
    lacus sed metus tincidunt lobortis lobortis at nibh. Morbi euismod, arcu in
    gravida rhoncus
  </p>
</div>
