<mat-carousel
  timings="400ms ease-in-out"
  [autoplay]="true"
  *ngIf="isBrowser"
  interval="4000"
  maxWidth="100%"
  proportion="35"
  slides="3"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="true"
  [useMouseWheel]="false"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of sliderData.data; let i = index"
    [image]="slide.image"
    [hideOverlay]="false"
  >
    <div [ngClass]="{ slider_text: isFavorite }">
      <h3>{{ slide.title }}</h3>
      <p>{{ slide.description }}</p>
      <a href="#" mat-raised-button><span>Explore Now</span></a>
    </div>
  </mat-carousel-slide>
</mat-carousel>
