<div fxLayout="column" fxLayoutAlign="center">
  <div class="body">
    <h1 fxLayoutAlign="start">{{ transferDetail?.data.name }}</h1>
    <img
      [src]="(transferDetail?.data.images)[0]"
      [alt]="transferDetail?.data.name"
    />

    <div
      class="single_tour_attribute_wrapper themeborder"
      fxLayout="row"
      fxLayoutGap="15px"
    >
      <div class="one_fourth" fxFlex="33">
        <fa-icon [icon]="faClock"></fa-icon>
        <div class="tour_attribute_content">
          {{ transferDetail?.data.timePerTrip }} / chuyến
        </div>
      </div>

      <div class="one_fourth" fxFlex="33">
        <fa-icon [icon]="faDollarSign"></fa-icon>
        <div class="tour_attribute_content">
          từ &nbsp;{{ transferDetail?.data.price | shortNumber }}
        </div>
      </div>

      <div class="one_fourth last" fxFlex="33">
        <fa-icon [icon]="faCouch"></fa-icon>
        <div class="tour_attribute_content">
          {{ transferDetail?.data.chairNum }}&nbsp;Chỗ
        </div>
      </div>
    </div>
    <div style="text-align: center;" fxLayout="row" fxLayoutGap="15px">
      <a
        fxFlex="33"
        class="button_fade"
        fxLayout.lt-md="column"
        fxLayoutAlign="center center"
        href="{{ 'tel:' + transferDetail?.data.phone }}"
        ><fa-icon [icon]="faPhone"></fa-icon>{{ transferDetail?.data.phone }}</a
      >
      <a
        fxFlex="33"
        class="button_fade"
        [style.cursor]="'default'"
        fxLayout.lt-md="column"
        fxLayoutAlign="center center"
        ><fa-icon [icon]="faRoute"></fa-icon
        >{{ transferDetail?.data.locationStart }} -
        {{ transferDetail?.data.locationEnd }}</a
      >
      <a
        fxFlex="33"
        fxLayout.lt-md="column"
        fxLayoutAlign="center center"
        class="button_fade"
        (click)="openGallery()"
        ><fa-icon [icon]="faCamera"></fa-icon>Xem ảnh</a
      >
    </div>

    <ngx-image-gallery
      [images]="transferImages"
      [conf]="conf"
    ></ngx-image-gallery>
    <div>
      <h1>Lịch trình đầy đủ</h1>
      <table
        mat-table
        [dataSource]="tbData[0]"
        class="mat-elevation-z8"
        *ngIf="tbData"
      >
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Thời gian</th>
          <td mat-cell *matCellDef="let element">
            {{ element.time }}
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Địa điểm</th>
          <td mat-cell *matCellDef="let element">
            {{ element.location }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="content" fxLayout="column">
      <div class="description">
        {{ transferDetail?.data.description }}
      </div>
      <div [innerHtml]="transferDetail?.data.content | sanitizeHtml"></div>
    </div>
  </div>
</div>
