<mat-toolbar color="primary" id="sticky-header" class="header-area">
  <app-nav-logo></app-nav-logo>
  <div class=" main-header-area">
    <app-nav-item
      fxFlex
      fxLayout
      fxLayoutAlign="start"
      fxHide.lt-lg
    ></app-nav-item>
  </div>
  <app-nav-social fxLayoutAlign="end" fxHide.lt-sm></app-nav-social>
  <!-- <div class="seach_icon">
    <a> Đăng ký </a>
  </div> -->
  <div fxFlex class="mobile_menu" fxLayoutAlign="end" fxHide.gt-md>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
