<div fxFlex fxHide.lt-md></div>
<div
  class="popular_destination_area"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxFlex="80"
  fxFlex.lt-md
>
  <div>
    <div class="section_title" style="text-align: center;">
      <h3>Lịch trình nổi bật</h3>
      <p>
        Review chia sẻ hành trình, khám phá và trải nghiệm từ du khách đến Hạ
        Long
      </p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="center center">
    <div
      *ngFor="let schedule of popularScheduleData.data"
      fxFlex="65%"
      fxFlex.gt-sm="24%"
      fxFlex.md="40%"
    >
      <mat-card class="single_destination">
        <div class="thumb">
          <img
            mat-card-image
            [src]="schedule.images[0]"
            [alt]="schedule.title"
          />
        </div>
        <div class="content" fxLayoutAlign="center center">
          <a [routerLink]="['blogs', schedule._id, schedule.seo]">
            {{ schedule.title }}
            <!-- <a href="travel_destination.html"> {{ schedule.tags }}</a> -->
          </a>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxFlex>
    <div class="more_place_btn text-center">
      <a
        class="boxed-btn4"
        [routerLink]="['blogs']"
        [queryParams]="{ category: 'Schedule' }"
        >More Places</a
      >
    </div>
  </div>
</div>
<div fxFlex fxHide.lt-md></div>
