<div fxFlex></div>
<div
  class="popular_destination_area"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxFlex="80"
>
  <div>
    <div class="section_title text-center mb_70" style="text-align: center;">
      <h3>Lịch trình nổi bật</h3>
      <p>
        Review chia sẻ hành trình, khám phá và trải nghiệm từ du khách đến Hạ
        Long
      </p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="center center">
    <div
      *ngFor="let schedule of popularScheduleData.data"
      fxFlex="65%"
      fxFlex.gt-sm="24%"
      fxFlex.md="40%"
    >
      <div class="single_destination">
        <div class="thumb">
          <img [src]="schedule.image" [alt]="schedule.title" />
        </div>
        <div class="content" fxLayoutAlign="center center">
          <a>
            {{ schedule.title }}
            <!-- <a href="travel_destination.html"> {{ schedule.tags }}</a> -->
          </a>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div class="more_place_btn text-center">
      <a class="boxed-btn4" href="#">More Places</a>
    </div>
  </div>
</div>
<div fxFlex></div>
