<div fxFlex fxHide.lt-md></div>
<div
  #target
  class="popular_destination_area"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxFlex="80"
  fxFlex.lt-md
>
  <div>
    <div class="section_title" style="text-align: center;">
      <h3>Lịch trình, món ăn nổi bật</h3>
      <p>
        Review chia sẻ hành trình, khám phá và món ăn với trải nghiệm từ du
        khách đến Hạ Long
      </p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="center center">
    <div
      *ngFor="let schedule of popularScheduleData"
      fxFlex="65%"
      fxFlex.gt-sm="24%"
      fxFlex.md="40%"
    >
      <div class="single_destination">
        <div class="thumb">
          <img [src]="schedule.images[0]" [alt]="schedule.title" />
        </div>
        <div class="content" fxLayoutAlign="center center">
          <a [routerLink]="['/reviews', schedule?._id, schedule?.seo]">
            {{ schedule.title }}
          </a>
        </div>
      </div>
    </div>
    <div
      *ngFor="let food of popularFoodData"
      fxFlex="65%"
      fxFlex.gt-sm="24%"
      fxFlex.md="40%"
    >
      <div class="single_destination">
        <div class="thumb">
          <img [src]="(food?.images)[0]" [alt]="food.title" />
        </div>
        <div class="content" fxLayoutAlign="center center">
          <a [routerLink]="['/reviews', food?._id, food?.seo]">
            {{ food?.title }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div class="more_place_btn text-center">
      <a class="boxed-btn4" [routerLink]="['/reviews']">Xem thêm</a>
    </div>
  </div>
</div>
<div fxFlex fxHide.lt-md></div>
