<app-slider-area [sliderData]="sliderData"></app-slider-area>
<app-transfer></app-transfer>
<section class="bg-schedule">
  <app-popular-schedule
    [popularScheduleData]="popularScheduleData"
  ></app-popular-schedule>
</section>
<div class="newletter_area overlay">
  <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="center center">
    <div fxFlex="80%" fxLayoutAlign="center center">
      <div class="newsletter_text">
        <h4>Subscribe Our Newsletter</h4>
        <p>
          Subscribe newsletter to get offers and about new places to discover.
        </p>
      </div>
    </div>
  </div>
</div>
<app-popular-place
  [popularPlaceData]="popularPlaceData"
  [popularRestaurant]="popularRestaurant"
></app-popular-place>
<app-video-area></app-video-area>
<div class="bg-schedule">
  <app-intro-service></app-intro-service>
</div>

<app-recent-blogs [recentBlogs]="recentBlogs"></app-recent-blogs>
