<div fxLayout="row" fxLayoutAlign="start">
  <a
    ><img
      src="../../../assets/logo review ha long.png"
      alt=""
      style="max-height: 200px;"
  /></a>
</div>
<div class="main-menu" fxLayout="row" fxLayoutAlign="start">
  <ul id="navigation">
    <li><a class="active" href="index.html">Trang chủ</a></li>
    <li><a href="about.html">Lịch trình</a></li>
    <li><a class="" href="travel_destination.html">Di Chuyển</a></li>
    <li>
      <a href="#">Ăn gì <i class="ti-angle-down"></i></a>
    </li>
    <li><a href="contact.html">Ở đâu</a></li>
  </ul>
</div>
