<div fxLayout="row" fxLayoutAlign="start">
  <a
    ><img
      src="../../../assets/logo review ha long.png"
      alt=""
      style="max-height: 200px;"
  /></a>
</div>
<div class="main-menu" fxLayout="row" fxLayoutAlign="start">
  <ul id="navigation">
    <li>
      <a
        [routerLink]="['']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Trang chủ</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Lịch trình</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Di Chuyển</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Ăn gì</a
      >
    </li>
    <li>
      <a
        [routerLink]="['']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Ở đâu</a
      >
    </li>
  </ul>
</div>
