<div fxLayout="row" fxLayoutAlign="start">
  <a
    ><img
      src="../../../assets/logo review ha long.png"
      alt=""
      style="max-height: 200px;"
  /></a>
</div>
<div class="main-menu" fxLayout="row" fxLayoutAlign="start">
  <ul id="navigation">
    <li>
      <a
        [routerLink]="['']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Trang chủ</a
      >
    </li>
    <li>
      <a
        [routerLink]="['blogs']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Review</a
      >
    </li>
    <li>
      <a
        [routerLink]="['tour']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Hạ Long Tour</a
      >
    </li>
    <li>
      <a
        [routerLink]="['contact-us']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Liên hệ</a
      >
    </li>
  </ul>
</div>
