<div class="blog_right_sidebar">
  <div class="single_sidebar">
    <h2 class="widget_title">Lọc theo Danh mục</h2>
    <ul class="list cat-list">
      <li *ngFor="let category of estateCategory?.data">
        <a [routerLink]="['./']" (click)="filter(category._id)" class="d-flex">
          <p>{{ category?.name }}</p>
        </a>
      </li>
    </ul>
  </div>
  <div
    [innerHTML]="(fbPlugin?.data)[0]?.fbPage | sanitizeHtml"
    class="fb_page"
  ></div>

  <div
    fxLayoutAlign="center center"
    [style.margin-bottom.px]="10"
    [innerHTML]="(fbPlugin?.data)[0]?.fbGroup | sanitizeHtml"
  ></div>
  <h2 class="widgettitle">Chỗ ở mới đăng</h2>
  <div
    class="portfolio_type"
    *ngFor="let item of recentPost?.data"
    [routerLink]="['/o-dau', routePosition, item._id, item.seo]"
    style="cursor: pointer;"
    [style.background-image]="'url(' + item?.image + ')'"
  >
    <a class="tour_image"></a>
    <div class="portfolio_info_wrapper">
      <div class="tour_price">từ &nbsp;{{ item?.price | shortNumber }}</div>
      <a [routerLink]="['/o-dau', routePosition, item._id, item.seo]"
        ><h5>{{ item?.name }}</h5></a
      >
    </div>
  </div>
</div>
