<div class="login_wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="box">
    <mat-card-header>
      <mat-card-title>Đăng Nhập</mat-card-title>
    </mat-card-header>

    <form class="login_form" [formGroup]="signinForm" (ngSubmit)="loginUser()">
      <mat-card-content>
        <mat-form-field class="login_full_width">
          <input
            matInput
            formControlName="email"
            color="warn"
            placeholder="Email"
          />
        </mat-form-field>

        <mat-form-field class="login_full_width">
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Mật khẩu"
          />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="warn" class="btn-block">
        Đăng Nhập
      </button>
    </form>
    <div fxLayoutAlign="center center">
      <h3 class="socical_title">Hoặc đăng nhập với tài khoản</h3>
    </div>
    <mat-card-footer fxLayoutAlign="center center" class="social_login">
      <a (click)="signInWithGG()"><fa-icon [icon]="faGoogle"></fa-icon></a>
      <a (click)="signInWithFB()"><fa-icon [icon]="faFacebook"></fa-icon></a>
    </mat-card-footer>
  </div>
</div>
