<section>
  <app-breadcrumb></app-breadcrumb>
</section>
<div fxLayout="row" fxLayoutAlign="center center">
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of navItems"
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ link.title }}
    </a>
  </nav>
</div>
<app-tour-search *ngIf="isTourPage === true"></app-tour-search>
<app-transfer-search *ngIf="isTourPage === false"></app-transfer-search>
<section fxLayout="row" class="section-padding">
  <div fxFlex="10"></div>
  <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex="66" fxFlex.lt-md="80">
      <router-outlet></router-outlet>
    </div>
    <div fxFlex fxFlex.lt-md="80" class="filter">
      <app-tour-right-side></app-tour-right-side>
    </div>
  </div>
  <div fxFlex="10"></div>
</section>
