<div
  [style.margin-top.px]="50"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="25px"
>
  <div class="gdlr-item gdlr-room-item gdlr-medium-room" fxFlex="72">
    <div
      class="gdlr-ux gdlr-medium-room-ux"
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayout.lt-md="column"
      *ngFor="
        let hotel of hotelDetail.data
          | paginate
            : {
                itemsPerPage: limit,
                currentPage: currentPage,
                totalItems: count
              }
      "
    >
      <ngx-image-gallery
        [images]="hotel.images"
        [conf]="conf"
      ></ngx-image-gallery>
      <div class="gdlr-room-thumbnail" fxFlex="33" fxFlex.lt-md="100">
        <div class="gdlr-thumbnail-gallery">
          <a
            ><img [src]="hotel.images[0].url" alt="hotel.name" />
            <div
              class="gdlr-thumbnail-gallery-overlay"
              (click)="openGallery(0)"
            ></div>
            <div class="gdlr-thumbnail-gallery-label gdlr-title-font">
              <fa-icon [icon]="faImage"></fa-icon>Xem ảnh
            </div>
          </a>
        </div>
      </div>
      <div class="gdlr-room-content-wrapper" fxFlex="66" fxFlex.lt-md="100">
        <h3 class="gdlr-room-title">
          <a
            [routerLink]="['/o-dau', 'homestay', hotel._id, hotel.seo]"
            routerLinkActive="router-link-active"
            >{{ hotel.name }}</a
          >
        </h3>
        <h4>Địa chỉ: {{ hotel.address }}</h4>
        <div class="gdlr-hotel-room-info" fxLayout="row" fxLayoutGap="25px">
          <div class="gdlr-room-info">
            <fa-icon [icon]="faPhone"></fa-icon
            ><span class="gdlr-tail">{{ hotel.phone }}</span>
          </div>
          <div class="gdlr-room-info">
            <fa-icon [icon]="faHotel"></fa-icon
            ><span class="gdlr-tail">{{ hotel.roomNum }} Phòng</span>
          </div>
          <div class="gdlr-room-info">
            <fa-icon [icon]="faEye"></fa-icon
            ><span class="gdlr-tail">{{ hotel.views }}</span>
          </div>
          <div class="clear"></div>
        </div>
        <div class="gdlr-room-content">
          {{ hotel.description | textOverflow: ["250", "..."] }}
        </div>
        <a
          class="gdlr-button with-border"
          [routerLink]="['/o-dau', 'khach-san', hotel._id, hotel.seo]"
          >Xem chi tiết <fa-icon [icon]="faLongArrowAltRight"></fa-icon
        ></a>
        <div class="gdlr-room-price" [style.float]="'right'" fxFlexAlign="end">
          <span class="gdlr-head">Từ</span
          ><span class="gdlr-tail">{{ hotel.price | shortNumber }}</span>
        </div>
      </div>
    </div>
    <pagination-template
      class="blog-pagination justify-content-center"
      #p="paginationApi"
      (pageChange)="pageChange.emit($event)"
    >
      <ul class="pagination" fxLayout="row" fxLayoutAlign="center center">
        <div>
          <li class="page-item">
            <a
              class="page-link"
              aria-label="Previous"
              (click)="
                getHotel(currentPage - 1, routePosition, categoryId, sortData)
              "
              *ngIf="!isFirstPage"
            >
              <fa-icon [icon]="faAngleLeft"></fa-icon>
            </a>
            <a
              class="page-link disabled"
              aria-label="Previous"
              *ngIf="isFirstPage"
            >
              <fa-icon [icon]="faAngleLeft"></fa-icon>
            </a>
          </li>
        </div>

        <div
          *ngFor="let page of p.pages"
          [class.current]="p.getCurrent() === page.value"
        >
          <li class="page-item">
            <a
              class="page-link"
              [class.disabled]="p.getCurrent() === page.value"
              *ngIf="p.getCurrent() === page.value"
              >{{ page.label }}</a
            >
            <a
              class="page-link"
              (click)="
                getHotel(page.value, routePosition, categoryId, sortData)
              "
              *ngIf="p.getCurrent() !== page.value"
              >{{ page.label }}</a
            >
          </li>
        </div>
        <div>
          <li class="page-item">
            <a
              class="page-link"
              aria-label="Next"
              (click)="
                getHotel(currentPage + 1, routePosition, categoryId, sortData)
              "
              *ngIf="!isLastPage"
            >
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </a>
            <a class="page-link disabled" aria-label="Next" *ngIf="isLastPage">
              <fa-icon [icon]="faAngleRight"></fa-icon>
            </a>
          </li>
        </div>
      </ul>
    </pagination-template>
  </div>

  <div class="right-side" fxFlex="28">
    <app-right-side-filter></app-right-side-filter>
  </div>
</div>
