<mat-toolbar color="primary" class="header-area" id="sticky-header">
  <app-nav-logo></app-nav-logo>
  <div class="main-header-area">
    <app-nav-item
      fxFlex
      fxLayout
      fxLayoutAlign="start"
      fxHide.lt-lg
    ></app-nav-item>
  </div>
  <app-nav-social fxLayoutAlign="end" fxHide.lt-sm></app-nav-social>
  <div fxFlex class="mobile_menu" fxLayoutAlign="end" fxHide.gt-md>
    <button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<app-my-loader></app-my-loader>
<mat-progress-bar
  class="progress"
  mode="query"
  color="warn"
  *ngIf="loading"
></mat-progress-bar>
