<div fxFlex fxFlex.lt-md></div>
<div
  class="recent_trip_area"
  fxLayout="column"
  fxFlex="80"
  fxFlex.lt-md="80"
  fxLayoutAlign="center center"
>
  <div fxFlex>
    <div
      class="section_title"
      [style.text-align]="'center'"
      fxLayoutAlign="center"
      fxLayout="column"
    >
      <h3>Lịch trình du lịch Hạ Long</h3>
      <p>
        Gợi ý cho du khách lịch trình, các gói tour du lịch Hạ Long
      </p>
    </div>
  </div>
  <div
    fxLayout="row"
    fxFlexAlign="center"
    fxLayoutGap="45px"
    fxLayout.lt-md="column"
  >
    <div fxFlex="33" fxFlex.lt-md *ngFor="let blog of recentBlogs">
      <mat-card class="single_trip">
        <div class="thumb">
          <img mat-card-image [src]="blog.image" [alt]="blog.title" />
        </div>
        <div class="info">
          <div class="date">
            <span>{{ blog.createdAt | date }}</span>
          </div>
          <a [routerLink]="['/lich-trinh', blog._id, blog.seo]">
            <h3>{{ blog.title }}</h3>
          </a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div fxFlex fxFlex.lt-md></div>
