<div fxFlex fxFlex.lt-md></div>
<div
  class="recent_trip_area"
  fxLayout="column"
  fxFlex="80"
  fxFlex.lt-md="80"
  fxLayoutAlign="center center"
>
  <div fxFlex>
    <div class="section_title">
      <h3>Recent Trips</h3>
    </div>
  </div>
  <div
    fxLayout="row"
    fxFlexAlign="center"
    fxLayoutGap="45px"
    fxLayout.lt-md="column"
  >
    <div fxFlex="33" fxFlex.lt-md *ngFor="let blog of recentBlogs.data">
      <mat-card class="single_trip">
        <div class="thumb">
          <img mat-card-image [src]="blog.images[0]" [alt]="blog.title" />
        </div>
        <div class="info">
          <div class="date">
            <span>{{ blog.createdAt | date }}</span>
          </div>
          <a [routerLink]="['/blogs', blog._id, blog.seo]">
            <h3>{{ blog.title }}</h3>
          </a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div fxFlex fxFlex.lt-md></div>
