<div fxFlex></div>
<div
  class="recent_trip_area"
  fxLayout="column"
  fxFlex="80"
  fxLayoutAlign="center center"
>
  <div fxFlex>
    <div class="section_title">
      <h3>Recent Trips</h3>
    </div>
  </div>
  <div
    fxLayout="row"
    fxFlexAlign="center"
    fxLayoutGap="45px"
    fxLayout.lt-md="column"
  >
    <div fxFlex="33">
      <div class="single_trip">
        <div class="thumb">
          <img src="img/trip/1.png" alt="" />
        </div>
        <div class="info">
          <div class="date">
            <span>Oct 12, 2019</span>
          </div>
          <a href="#">
            <h3>Journeys Are Best Measured In New Friends</h3>
          </a>
        </div>
      </div>
    </div>
    <div fxFlex="33">
      <div class="single_trip">
        <div class="thumb">
          <img src="img/trip/2.png" alt="" />
        </div>
        <div class="info">
          <div class="date">
            <span>Oct 12, 2019</span>
          </div>
          <a href="#">
            <h3>Journeys Are Best Measured In New Friends</h3>
          </a>
        </div>
      </div>
    </div>
    <div fxFlex="33">
      <div class="single_trip">
        <div class="thumb">
          <img src="img/trip/3.png" alt="" />
        </div>
        <div class="info">
          <div class="date">
            <span>Oct 12, 2019</span>
          </div>
          <a href="#">
            <h3>Journeys Are Best Measured In New Friends</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxFlex></div>
