.section {
  padding: 30px;
}

// md-tabs .md-tab.md-active {
//   background-color: #2b2b28;
//   color: #e3b04b;
// }

nav {
  background-color: #2b2b28;
  opacity: 1;
  color: #e3b04b;
}

.mat-tab-link {
  opacity: 1 !important;
  min-width: 33vw !important;
  color: #e3b04b;
}
