<div
  class="travel_variation_area"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="45px">
    <div fxFlex="33">
      <div class="single_travel">
        <div class="icon">
          <img
            src="../../../assets/img/subway.svg"
            alt=""
            class="filter-orange"
          />
        </div>
        <h3>Hành Trình</h3>
        <p>
          Chia sẻ lịch trình để giúp bạn có được chuyến đi hoàn hảo.
        </p>
      </div>
    </div>
    <div fxFlex="33">
      <div class="single_travel">
        <div class="icon">
          <img
            src="../../../assets/img/diet.svg"
            alt=""
            class="filter-orange"
          />
        </div>
        <h3>Ẩm Thực</h3>
        <p>
          Giới thiệu những món ăn hè phố cho đến những nhà hàng sang trọng.
        </p>
      </div>
    </div>
    <div fxFlex="33">
      <div class="single_travel">
        <div class="icon">
          <img
            src="../../../assets/img/vietnam.svg"
            alt=""
            class="filter-orange"
          />
        </div>
        <h3>Trải nghiệm</h3>
        <p>
          Trải nghiệm cách sống và du lịch như người dân bản địa.
        </p>
      </div>
    </div>
  </div>
</div>
