<div class="tour" fxLayout="column" fxLayoutAlign="center center">
  <mat-card
    class="tour_card"
    fxFlex
    *ngFor="let tour of tourData.data"
    fxLayout="column"
  >
    <div class="tour_main" fxLayout="row" fxLayoutGap="5px">
      <div class="tour_img" fxFlex="30" fxLayoutAlign="start start">
        <img [src]="(tour?.images)[0]" [alt]="tour?.title" />
      </div>
      <div
        class="tour_content"
        fxFlex="55"
        fxLayoutAlign="start start"
        fxLayout="column"
      >
        <div class="tour_header" fxLayoutAlign="start">
          <h3>
            {{ tour.title }}
          </h3>
        </div>
        <div class="tour_body" fxLayout="column">
          <p>{{ tour.description }}</p>
          <div style="width: 100%;" fxLayout="row wrap">
            <span>Địa chỉ:</span
            ><a href="">{{ tour.schedule.location }} | address 2</a>
          </div>

          <div style="width: 100%;" fxLayout="row wrap">
            <span><fa-icon [icon]></fa-icon>Dịch vụ:</span
            ><a href="" *ngFor="let service of tour.services">{{ service }},</a>
          </div>
        </div>
      </div>
      <div
        class="tour_price"
        fxFlex="15"
        fxLayoutAlign="center center"
        fxLayout="column"
      >
        <h3>
          Giá từ:
        </h3>
        <h2>
          {{ tour.price | shortNumber }}
        </h2>
        <p>cho 2-3 người</p>
      </div>
    </div>
    <mat-card-footer class="tour_footer" fxLayout="row" fxLayoutAlign="end">
      <div class="tour_date">
        <p style="float: right;">
          {{ tour.schedule.timeEnd | date: "MMM d, y, h:mm a" }}
        </p>
        <p style="float: right;">
          {{ tour.schedule.timeStart | date: "MMM d, y, h:mm a" }}
        </p>
      </div>
      <a
        style="float: right;"
        mat-raise-button
        [routerLink]="[tour._id, tour.seo]"
        routerLinkActive="router-link-active"
      >
        Xem chi tiết
      </a>
    </mat-card-footer>
  </mat-card>

  <button>Xem thêm</button>
</div>
