<mat-card class="tour_card" *ngFor="let tour of tourData" fxLayout="column">
  <div class="tour_main" fxLayout="row">
    <div class="tour_img" fxFlex="30" fxLayoutAlign="start start">
      <img [src]="tour.image" [alt]="tour.title" />
    </div>
    <div class="tour_content" fxFlex="45" fxLayoutAlign="start start">
      <div class="tour_header">
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa,
          deleniti?
        </h3>
      </div>
      <div class="tour_body">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        <span>Lorem, ipsum.:</span><a href="">Address1 | address 2</a>
        <a href=""><fa-icon [icon]=""></fa-icon> Service 1</a>
      </div>
    </div>
    <div class="tour_price" fxFlex="25" fxLayoutAlign="center center">
      <h3>Giá từ:</h3>
      <h2>$ 550*</h2>
      <p>cho 2-3 người</p>
    </div>
  </div>
  <mat-card-footer class="tour_footer" fxLayout="row" fxLayoutAlign="end end">
    <div class="tour_date">
      <p>Date Start</p>
      <p>Date End</p>
    </div>
    <button mat-raise-button>Xem chi tiết</button>
  </mat-card-footer>
</mat-card>
