<!-- <div class="tour" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field class="input_field">
    <input matInput [formControl]="queryField" type="text" [matAutocomplete]="auto" placeholder="Tìm kiếm" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let result of results" [routerLink]="['/tour', result._id, result.seo]">
        {{ result.title }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-card class="tour_card" fxFlex *ngFor="
      let tour of tourData.data
        | paginate
          : {
              itemsPerPage: limit,
              currentPage: currentPage,
              totalItems: count
            }
    " fxLayout="column">
    <div class="tour_main" fxLayout="row" fxLayoutGap="5px">
      <div class="tour_img" fxFlex="30" fxLayoutAlign="start start" fxLayoutAlign.lt-md="center center">
        <img [src]="(tour?.images)[0]" [alt]="tour?.title" />
      </div>
      <div class="tour_content" fxFlex="55" fxLayoutAlign="start start" fxLayout="column">
        <div class="tour_header" fxLayoutAlign="start">
          <h3>
            {{ tour.title }}
          </h3>
        </div>
        <div class="tour_body" fxLayout="column">
          <p>{{ tour.description }}</p>
          <div class="address" fxLayout="row wrap">
            <span>Địa chỉ: &nbsp;</span><a href="">{{ tour.address }}</a>
          </div>

          <div class="service_container" fxLayout="row wrap">
            <span>
              <fa-icon [icon]></fa-icon>Dịch vụ:
            </span><a class="service" *ngFor="let service of tour.schedule">{{ service.service }}
            </a>
          </div>
        </div>
      </div>
      <div class="tour_price" fxFlex="15" fxLayoutAlign="center center" fxLayout="column">
        <h3>
          Giá từ:
        </h3>
        <h2>
          {{ tour.price | shortNumber }}
        </h2>
        <p>Cho: {{ tour.customerNum }} Người</p>
      </div>
    </div>
    <mat-card-footer fxLayout="row" fxLayoutAlign="end">
      <div class="tour_date">
        <a fxLayoutAlign="center center" href="{{ 'tel:' + tour.phone }}">
          Liên hệ SĐT: {{ tour.phone }}</a>
      </div>
      <a class="boxed_btn" style="float: right;" mat-raise-button [routerLink]="[tour._id, tour.seo]"
        routerLinkActive="router-link-active">
        Xem chi tiết
      </a>
    </mat-card-footer>
  </mat-card>
  <pagination-template class="tour-pagination justify-content-center" #pT="paginationApi"
    (pageChange)="pageChange.emit($event)">
    <ul class="pagination" fxLayout="row" fxLayoutAlign="center center">
      <div>
        <li class="page-item">
          <a class="page-link" aria-label="Previous" (click)="getTour(currentPage - 1, categoryId)"
            *ngIf="!isFirstPage">
            <fa-icon [icon]="faAngleLeft"></fa-icon>
          </a>
          <a class="page-link disabled" aria-label="Previous" *ngIf="isFirstPage">
            <fa-icon [icon]="faAngleLeft"></fa-icon>
          </a>
        </li>
      </div>
      <div *ngFor="let page of pT.pages" [class.current]="pT.getCurrent() === page.value">
        <li class="page-item">
          <a class="page-link" [class.disabled]="pT.getCurrent() === page.value"
            *ngIf="pT.getCurrent() === page.value">{{ page.label }}</a>
          <a class="page-link" (click)="getTour(page.value, categoryId)"
            *ngIf="pT.getCurrent() !== page.value">{{ page.label }}</a>
        </li>
      </div>
      <div>
        <li class="page-item">
          <a class="page-link" aria-label="Next" (click)="getTour(currentPage + 1, categoryId)" *ngIf="!isLastPage">
            <fa-icon [icon]="faAngleRight"></fa-icon>
          </a>
          <a class="page-link disabled" aria-label="Next" *ngIf="isLastPage">
            <fa-icon [icon]="faAngleRight"></fa-icon>
          </a>
        </li>
      </div>
    </ul>
  </pagination-template>
</div> -->
<div
  fxLayout="column"
  *ngFor="
    let tour of tourData.data
      | paginate
        : {
            itemsPerPage: limit,
            currentPage: currentPage,
            totalItems: count
          }
  "
>
  <div class="tour_list_wrapper" fxLayout="row" fxLayout.lt-md="column">
    <div class="one_third" fxFlex="33" fxFlex.lt-md="100">
      <a class="tour_image" [routerLink]="['/tour', tour._id, tour.seo]">
        <img [src]="tour.images[0]" [alt]="tour.title" />
        <div class="tour_price has_discount">
          <span class="normal_price">{{ tour.price | shortNumber }} </span>
        </div>
      </a>
    </div>

    <div class="two_third last" fxFlex="67" fxFlex.lt-md="100">
      <a class="tour_link" [routerLink]="['/tour', tour._id, tour.seo]"
        ><h3>{{ tour.title }}</h3></a
      >
      <div class="tour_list_excerpt">
        {{ tour.description }}
      </div>

      <div class="tour_attribute_wrapper">
        <div class="service_container" fxLayout="row wrap">
          <span> <fa-icon [icon]></fa-icon>Dịch vụ: </span
          ><a
            class="service tour_attribute_rating_count"
            *ngFor="let service of tour.schedule"
            >{{ service.service }}
          </a>
        </div>

        <div class="tour_attribute_rating_count">
          <fa-icon [icon]="faPhone"> </fa-icon>
          &nbsp;<strong>{{ tour.phone }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
