@import "../../scss/varriable";

table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

.body {
  text-align: center;
}

.list_img {
  margin-top: 20px;
  text-align: center;
  max-width: 500px;
}

a {
  &:hover {
    color: $theme-color2;
  }
}
