<div fxLayout="column" fxLayoutAlign="center">
  <div class="body">
    <h1>
      {{ tourDetail?.data.title }}
    </h1>
    <h2>
      <a
        fxLayoutAlign="center center"
        href="{{ 'tel:' + tourDetail?.data.phone }}"
        >Liên hệ SĐT: {{ tourDetail?.data.phone }}</a
      >
    </h2>
    <p>
      {{ tourDetail?.data.description }}
    </p>
    <table mat-table [dataSource]="tbData[0]" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="timeStart">
        <th mat-header-cell *matHeaderCellDef>Ngày</th>
        <td mat-cell *matCellDef="let element">
          {{ element.timeStart | date: "medium" }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Địa điểm</th>
        <td mat-cell *matCellDef="let element">
          {{ element.location }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="service">
        <th mat-header-cell *matHeaderCellDef>Dịch vụ</th>
        <td mat-cell *matCellDef="let element">{{ element.service }}</td>
      </ng-container>

      <ng-container matColumnDef="timeEnd">
        <th mat-header-cell *matHeaderCellDef>Đến nơi</th>
        <td mat-cell *matCellDef="let element">
          {{ element.timeEnd | date: "medium" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="footer">
    <div class="list_img">
      <h1>Một số hình ảnh</h1>
      <mat-carousel
        timings="400ms ease-in-out"
        maxWidth="100%"
        proportion="60"
        [autoplay]="true"
        interval="5000"
        *ngIf="isBrowser"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useMouseWheel]="false"
      >
        <mat-carousel-slide
          #matCarouselSlide
          *ngFor="let slide of tourDetail?.data.images; let i = index"
          [image]="slide"
          [hideOverlay]="false"
        >
        </mat-carousel-slide>
      </mat-carousel>
    </div>
  </div>
</div>
