<mat-card>
  <mat-card-header>
    <mat-card-title>Example Login Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- This is where you need to add your login form -->
  </mat-card-content>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="your email"
        type="email"
        name="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="your password"
        type="password"
        name="password"
        required
      />
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
