<div class="main-menu">
  <ul id="navigation">
    <ng-container *ngFor="let item of navItems">
      <ng-container *ngIf="!item.subItems || item.subItems.length === 0">
        <li>
          <a
            [routerLink]="[item.link]"
            routerLinkActive="active_route"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ item.text }}</a
          >
        </li>
        <li>
          <a href="http://m.me/PageReviewHaLong">Liên hệ</a>
        </li>
      </ng-container>
      <ng-container *ngIf="item.subItems && item.subItems.length > 0">
        <li>
          <a
            #button
            [routerLink]="[item.link]"
            routerLinkActive="active_route"
            [matMenuTriggerFor]="menu.childMenu"
            #menuTrigger="matMenuTrigger"
            (mouseenter)="buttonEnter(menuTrigger)"
            (mouseleave)="buttonLeave(menuTrigger, button)"
            >{{ item.text }}
            <fa-icon
              style="font-size: 15px;"
              [icon]="faAngleDown"
              *ngIf="item.subItems && item.subItems.length > 0"
            ></fa-icon
          ></a>
        </li>
        <app-sub-menu
          #menu
          (mouseenter2)="menuEnter()"
          (mouseleave2)="menuLeave(menuTrigger, button)"
          [subMenu]="item.subItems"
        >
        </app-sub-menu>
      </ng-container>
    </ng-container>
  </ul>
</div>
