<div fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex="80">
    <section class="elementor-element elementor-top-section">
      <div
        class="elementor-row"
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayout.lt-md="column"
      >
        <div
          class="elementor-top-column"
          fxFlex="74"
          fxFlex.lt-md="100"
          fxFlex.gt-md="55"
        >
          <div
            class="elementor-widget-wrap"
            fxLayout="column"
            fxLayoutAlign="start"
          >
            <div class="elementor-image">
              <img [src]="(villaDetail?.images)[0]" alt="villaDetail?.name" />
            </div>
            <div>
              <div class="hotel_title" fxLayout="row" fxLayoutGap="15px">
                <h2
                  [style.padding-right.px]="15"
                  [style.border-right]="'1px solid'"
                >
                  {{ villaDetail?.name }}
                </h2>
                <h2>
                  <a href="{{ 'tel:' + villaDetail?.phone }}"
                    >SĐT: {{ villaDetail?.phone }}</a
                  >
                </h2>
              </div>
            </div>
            <div>
              <div
                fxLayout="row"
                fxLayoutAlign="start"
                fxLayoutGap="20px"
                fxLayoutGap.lt-md="30px"
              >
                <div
                  *ngIf="villaDetail?.facilities.restaurant"
                  fxFlex="14"
                  [style.text-align]="'center'"
                  fxLayout="column"
                >
                  <span class="gdlr-head"
                    ><img
                      src="../../../assets/icon/restaurant.svg"
                      alt=""
                      [style.max-height.%]="66"
                      [style.max-width.%]="66"
                      style="opacity: 1;" /></span
                  ><span class="gdlr-tail">Nhà hàng khu nghỉ dưỡng</span>
                </div>
                <div
                  fxFlex="14"
                  [style.text-align]="'center'"
                  fxLayout="column"
                >
                  <span class="gdlr-head"
                    ><img
                      src="../../../assets/icon/villa-square.svg"
                      alt=""
                      style="opacity: 1;"
                      [style.max-height.%]="66"
                      [style.max-width.%]="66" /></span
                  ><span class="gdlr-tail"
                    >{{ villaDetail?.facilities.square }} &#13217;</span
                  >
                </div>
                <div
                  *ngIf="villaDetail?.oceanViews"
                  fxFlex="14"
                  fxLayout="column"
                  [style.text-align]="'center'"
                >
                  <span class="gdlr-head"
                    ><img
                      src="../../../assets/icon/ocean-view.svg"
                      alt=""
                      [style.max-height.%]="66"
                      [style.max-width.%]="66"
                      style="opacity: 1;" /></span
                  ><span class="gdlr-tail">Ocean View</span>
                </div>
                <div
                  *ngIf="villaDetail?.facilities.kitchen"
                  fxFlex="14"
                  fxLayout="column"
                  [style.text-align]="'center'"
                >
                  <span class="gdlr-head"
                    ><img
                      src="../../../assets/icon/kitchen.svg"
                      alt=""
                      [style.max-height.%]="66"
                      [style.max-width.%]="66"
                      style="opacity: 1;" /></span
                  ><span class="gdlr-tail">Bếp nấu ăn</span>
                </div>
                <div
                  *ngIf="villaDetail?.facilities.pool"
                  fxFlex="14"
                  fxLayout="column"
                  [style.text-align]="'center'"
                >
                  <span class="gdlr-head"
                    ><img
                      src="../../../assets/icon/pool.svg"
                      alt=""
                      [style.max-height.%]="66"
                      [style.max-width.%]="66"
                      style="opacity: 1;" /></span
                  ><span class="gdlr-tail">Bể bơi</span>
                </div>
                <div
                  *ngIf="villaDetail?.facilities.meetingRoom"
                  fxFlex="14"
                  fxLayout="column"
                  [style.text-align]="'center'"
                >
                  <span class="gdlr-head"
                    ><img
                      src="../../../assets/icon/bbq.svg"
                      alt=""
                      [style.max-height.%]="66"
                      [style.max-width.%]="66"
                      style="opacity: 1;" /></span
                  ><span class="gdlr-tail">Sân nướng bbq</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="25" fxFlex.lt-md="100" fxFlex.gt-md="45">
          <div>
            <div class="text_hotel">
              <h2>
                từ
              </h2>
            </div>

            <div class="price_hotel">
              <h2>
                {{ villaDetail?.price | currency: "VND":"symbol":"1.0-0" }}
              </h2>
            </div>
            <form
              fxLayout="column"
              [formGroup]="checkAvaiForm"
              (ngSubmit)="sendCustomerRequest()"
            >
              <mat-form-field>
                <mat-label>Chọn ngày CheckIn</mat-label>
                <input
                  matInput
                  formControlName="checkIn"
                  [matDatepicker]="checkIn"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="checkIn"
                ></mat-datepicker-toggle>
                <mat-datepicker #checkIn></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="detail_full_width">
                <mat-label>Chọn ngày CheckOut</mat-label>
                <input
                  matInput
                  formControlName="checkOut"
                  [matDatepicker]="checkOut"
                  color="warn"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="checkOut"
                ></mat-datepicker-toggle>
                <mat-datepicker #checkOut></mat-datepicker>
              </mat-form-field>
              <div fxLayout="row" fxLayoutGap="5px">
                <mat-form-field class="name" fxFlex="70">
                  <input
                    matInput
                    formControlName="customerLog"
                    color="warn"
                    [placeholder]="'Ghi chú của khách hàng'"
                  />
                </mat-form-field>
                <mat-form-field class="name" fxFlex="30">
                  <input
                    matInput
                    OnlyNumber="true"
                    formControlName="night"
                    color="warn"
                    [placeholder]="'Số ngày ở'"
                  />
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="15px">
                <mat-form-field class="name" fxFlex="50">
                  <input
                    OnlyNumber="true"
                    matInput
                    formControlName="phone"
                    color="warn"
                    [placeholder]="'Số điện thoại'"
                  />
                </mat-form-field>
                <mat-form-field class="name" fxFlex="50">
                  <input
                    OnlyNumber="true"
                    matInput
                    formControlName="peopleNum"
                    color="warn"
                    [placeholder]="'Số người'"
                  />
                </mat-form-field>
              </div>

              <button
                type="submit"
                class="gdlr-button"
                value=""
                [style.text-align]="'start'"
              >
                Check Availability</button
              ><span class="check_avai"
                >*Bạn có thể liên hệ số điện thoại hoặc gửi yêu cầu để chúng tôi
                liên hệ với bạn</span
              >
            </form>
          </div>
        </div>
      </div>
    </section>
    <section [style.margin-top.px]="25">
      <div class="elementor-row">
        <div class="hotel_title">
          <h2 [style.text-align]="'start'">
            Room Overview
          </h2>
          <h3 [style.text-align]="'start'">
            Địa chỉ: {{ villaDetail?.address }}
          </h3>
        </div>
        <div class="elementor-widget-text-editor">
          <div
            class="elementor-widget-container"
            [style.margin-top.px]="25"
            [innerHtml]="villaDetail?.content | sanitizeHtml"
          >
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="elementor-element elementor-top-section"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="hotel_title">
        <h2>
          Room Gallery
        </h2>
      </div>
    </section>
    <section
      class="elementor-element elementor-top-section"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="elementor-top-column">
        <ngx-image-gallery
          [images]="villaImages"
          [conf]="conf"
        ></ngx-image-gallery>
        <div
          class="gdlr-gallery-item gdlr-item"
          fxLayout="row wrap"
          fxLayoutGap="15px"
          fxLayoutAlign="center"
        >
          <div
            class="gallery-column four columns"
            fxFlex="20"
            *ngFor="let image of villaImages; let i = index"
          >
            <a (click)="openGallery(i)" [style.cursor]="'pointer'" *ngIf="i < 3"
              ><img
                [src]="image?.url"
                alt="villaDetail??.name"
                style="opacity: 1;"
            /></a>
            <div
              class="img"
              [style.cursor]="'pointer'"
              *ngIf="i === 3"
              (click)="openGallery(i)"
            >
              <img
                class="imglast"
                [src]="image?.url"
                alt="villaDetail??.name"
              />
              <span class="overlay"> +{{ villaImages?.length - (i + 1) }}</span>
            </div>
            <a> </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div fxFlex="10"></div>
</div>
