<div fxFlex fxHide.lt-md></div>
<div
  class="popular_places_area"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxFlex="80"
  fxFlex.lt-md
>
  <div>
    <div class="section_title">
      <h3>Chỗ ở Hạ Long</h3>
      <p>
        Gợi ý cho du khách về những chỗ dừng chân nổi bật nhất.
      </p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="center center">
    <div
      fxFlex="65%"
      fxFlex.md="40%"
      fxFlex.gt-sm="24%"
      *ngFor="let hotel of popularHotelData"
    >
      <mat-card class="single_place">
        <div class="thumb">
          <img mat-card-image [src]="hotel.images[0]" [alt]="hotel.title" />
          <a href="#" class="prise">{{ hotel.price | shortNumber }}</a>
        </div>
        <div class="place_info">
          <a
            [routerLink]="['/o-dau-ha-long', hotel._id, hotel.seo]"
            fxLayoutAlign="start"
          >
            <h3>{{ hotel.name }}</h3>
          </a>
          <p fxLayoutAlign="start">{{ hotel.address }}</p>
          <div fxLayoutAlign="start">
            <div class="days">
              <fa-icon [icon]="faPhone"></fa-icon>
              <a>
                {{ hotel.phone }}
              </a>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxFlex>
    <div class="more_place_btn">
      <a class="boxed-btn4" [routerLink]="['/o-dau-ha-long']">Xem thêm</a>
    </div>
  </div>
</div>
<div fxFlex fxHide.lt-md></div>
