mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  overflow: hidden;
}

mat-sidenav {
  min-width: 230px;
  max-width: 250px;
}

.progress {
  position: relative !important;
}
