<div class="landing-page-footer">
  <div class="landing-page-footer-left container-center">
    <div class="landing-page-footer-logo">
      <img class="mighty-avatar-xsmall"
        src="https://media1-production-mightynetworks.imgix.net/asset/8077488/angularNationLogo.png?ixlib=rails-0.3.0&amp;auto=format&amp;w=64&amp;h=64&amp;fit=crop">
    </div>
    <span class="landing-page-footer-divider"></span>
    <a class="landing-page-footer-mighty-logo" href="https://mightynetworks.com/" target="_blank">
      <img
        src="https://assets1-production-mightynetworks.imgix.net/assets/logos/white_with_text-404932c5afba16a3e7362a7364a46fc7654740c03e70cd70e2a253afe4e1451b.png"
        height="27">
    </a>
  </div>
  <div class="landing-page-footer-right text-color-white container-center">
    <a class="text-color-white-link" href="https://mightynetworks.com/terms_of_use" target="_blank">Terms of Use</a>
    <span>|</span>
    <a class="text-color-white-link" href="https://mightynetworks.com/privacy_policy" target="_blank">Privacy Policy</a>
  </div>
</div>
