<footer>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex>
      <div fxFlex="33%" fxLayoutAlign="center center">
        <div class="footer_logo">
          <a href="#">
            <img
              src="../../../assets/logo-review-ha-long.png"
              style="max-height: 200px;"
              class="logo"
              alt=""
            />
          </a>
        </div>
      </div>
      <div fxFlex="33%" fxLayoutAlign="center center">
        <ul class="list-inline">
          <li>
            <a href="#"><fa-icon [icon]="faFacebookMessenger"></fa-icon></a>
          </li>
          <li>
            <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
          </li>
        </ul>
      </div>
      <div fxFlex="33%" fxLayoutAlign="center center">
        <ul
          class="menu list-inline"
          fxLayoutAlign="end"
          fxLayout.lt-md="column"
        >
          <li>
            <a href="#">Trang chủ</a>
          </li>
          <li>
            <a href="#">Lịch trình</a>
          </li>
          <li>
            <a href="#">Di Chuyển</a>
          </li>
          <li>
            <a href="#">Ăn gì</a>
          </li>
          <li>
            <a href="#">Ở đâu</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy-right_text" fxLayout="column">
    <div class="container" fxFlex="80" fxLayoutAlign="center center">
      <div class="footer_border"></div>
      <div>
        <p class="copy_right text-center">
          Copyright &copy; Idea by <a href="https://colorlib.com">Colorlib</a>
          All rights reserved |
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <a>Review Hạ Long Team</a>
        </p>
      </div>
    </div>
  </div>
</footer>
