<div class="landing-page-footer" fxLayoutAlign="center center" fxLayout="row">
  <div
    [style.margin-left.px]="10"
    fxFlex="50"
    class="landing-page-footer-left container-center"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div class="landing-page-footer-logo">
      <a href="https://www.facebook.com/groups/REVIEWHALONG/" target="_blank">
        <fa-icon [icon]="faFacebookSquare"></fa-icon
      ></a>
      <a href="http://m.me/PageReviewHaLong" target="_blank">
        <fa-icon [icon]="faFacebookMessenger"></fa-icon
      ></a>
      <!-- <span class="landing-page-footer-divider"></span> -->
    </div>
    <a class="landing-page-footer-mighty-logo" [routerLink]="['/home']">
      <img
        src="../../../assets/logo-review-ha-long.png"
        fxFlex="23"
        class="logo"
      />
    </a>
  </div>
  <div
    [style.margin-right.px]="10"
    fxFlex="50"
    class="landing-page-footer-right container-center"
    fxLayout="row"
    fxLayoutAlign="end center"
  >
    <p [style.margin-top]="'22px'">
      Copyright &copy; 2020 &nbsp;<strong>reviewhalong.vn</strong> <br />
      All rights reserved.
    </p>
  </div>
</div>
