@import "../../scss/varriable";
@import "../../scss/mixins";
@import "../../scss/responsive";

.landing-page-footer {
  background-color: $theme-color;
}

.landing-page-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 150px;
}

.landing-page-footer-logo {
  border-right: 1px solid #f8f8f8;
  @media (max-width: 959px) {
    border-right: transparent;
  }
}

.landing-page-footer-mighty-logo {
  margin-left: 10px;
}

.landing-page-footer-right {
  color: $btn_bg;

  p {
    color: $btn_bg;
  }
}

fa-icon {
  color: $btn_bg;

  font-size: 40px;
  margin-right: 25px;

  &:hover {
    color: $btn_hover;
  }
}

.container-center {
  height: 100%;
  min-height: inherit;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.logo {
  filter: invert(90%) sepia(52%) saturate(2854%) hue-rotate(315deg)
    brightness(90%) contrast(96%);
}
