<div class="social_wrap">
  <div class="social_links number">
    <ul>
      <li>
        <a (click)="loginDialog()">Đăng Nhập</a>
      </li>
      <li>
        <a (click)="registerDialog()">Đăng Ký</a>
      </li>
    </ul>
  </div>
  <div class="social_links" fxFlex fxLayout>
    <ul style="padding: 0 !important;">
      <li>
        <a href="#"><fa-icon [icon]="faFacebook"></fa-icon> </a>
      </li>
      <li>
        <a href="#"><fa-icon [icon]="faFacebookMessenger"></fa-icon> </a>
      </li>
      <li>
        <a href="#"><fa-icon [icon]="faEnvelope"></fa-icon> </a>
      </li>
    </ul>
  </div>
</div>
