@import "../../../scss/varriable";
@import "../../../scss/mixins";
@import "../../../scss/responsive";

.social_wrap {
  @media #{$mid_device} {
    margin-right: 100px;
  }

  @media (min-width: 698px) and (max-width: 987px) {
    margin-right: 80px;
    // display: none !important;
  }
  @media (max-width: 697px) {
    display: none !important;
  }

  .social_links {
    margin-right: 4px;

    li {
      display: inline-block;

      a {
        cursor: pointer;
        display: inline-block;
        color: #2b2b28;
        font-size: 20px;
        margin: 0 11px;
        fa-icon {
          font-size: 20px !important;
        }
        &:hover {
          color: #e3b04b;
        }
      }
    }
  }

  .number {
    border-right: 1px solid #eaeaea;

    @media #{$extra_big_screen} {
      margin-left: 80px;
    }

    @media #{$large_device} {
      margin-right: 0;
      padding-right: 10px;
    }

    @media #{$tablet_device} {
      border-right: 1px solid transparent;
    }

    @media #{$mid_device} {
      border-right: 1px solid transparent;
    }

    a {
      font-size: 18px !important;
    }
  }
}
