<div class="social_wrap" fxLayoutAlign.gt-lg="end">
  <div class="social_links number">
    <ul *ngIf="!isLoggin">
      <li>
        <a (click)="loginDialog()">Đăng Nhập</a>
      </li>

      <li>
        <a (click)="registerDialog()">Đăng Ký</a>
      </li>
    </ul>
    <ul *ngIf="isLoggin" fxFlex fxLayout>
      <li>
        <a [routerLink]="['/profile']">{{ userName }}</a>
      </li>
      <li><a (click)="logout()">Đăng xuất</a></li>
    </ul>
  </div>
  <div class="social_links" fxFlex fxLayout>
    <ul style="padding: 0 !important;">
      <li>
        <a href="https://www.facebook.com/groups/REVIEWHALONG/"
          ><fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </li>
      <li>
        <a href="http://m.me/PageReviewHaLong"
          ><fa-icon [icon]="faFacebookMessenger"></fa-icon
        ></a>
      </li>
    </ul>
  </div>
</div>
