@import "../../scss/varriable";
@import "../../scss/mixins";
@import "../../scss/responsive";
.tour_card {
  max-width: 600px;

  .tour_main {
    position: relative;

    .tour_img {
    }

    .tour_content {
      font-family: $font1;

      .tour_header {
        h3 {
          font-weight: 400;
          font-size: 16px;
        }
      }

      .tour_body {
        p {
          font-weight: 400;
          font-size: 14px;
        }

        span {
          font-weight: bold;
          font-size: 14px;
        }
      }

      &:before {
        content: "";
      }
    }

    .tour_price {
      h3 {
        font-size: 16px;
        font-weight: bold;
      }

      h2 {
        font-size: 18px;
        font-weight: bold;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .tour_footer {
    .tour_date {
      font-size: 16px;
      font-weight: bold;
    }

    button {
      font-size: 18px;
      font-weight: 400;
    }
  }
}
