<div class="blog_right_sidebar">
  <div class="single_sidebar">
    <h2 class="widget_title">Lọc theo Danh mục</h2>
    <ul class="list cat-list">
      <li *ngFor="let category of tourCategory?.data">
        <a
          *ngIf="isDetail === false"
          [style.cursor]="'pointer'"
          (click)="filter(category._id)"
          class="d-flex"
        >
          <p>{{ category?.name }}</p>
        </a>
        <a
          *ngIf="isDetail === true"
          [style.cursor]="'pointer'"
          (click)="filterIsDetail(category._id)"
          class="d-flex"
        >
          <p>{{ category?.name }}</p>
        </a>
      </li>
    </ul>
  </div>

  <div class="single_sidebar popular_post_widget">
    <h2 class="widget_title">Bài lịch trình mới nhất</h2>
    <div class="media post_item" *ngFor="let post of recentReviews?.data">
      <img [src]="post?.image" [alt]="post?.title" />
      <div class="media-body">
        <a [routerLink]="['/blogs', post?._id, post?.seo]">
          <h3>
            {{ post?.title | textOverflow: ["35", "..."] }}
          </h3>
        </a>
        <p>{{ post?.createdAt | date }}</p>
      </div>
    </div>
  </div>

  <h2 class="widgettitle">Tour mới nhất</h2>
  <div
    class="portfolio_type"
    *ngFor="let tour of recentPost?.data"
    [routerLink]="['/tour', tour._id, tour.seo]"
    style="cursor: pointer;"
    [style.background-image]="'url(' + tour.image + ')'"
  >
    <a class="tour_image"></a>
    <div class="portfolio_info_wrapper">
      <div class="tour_price">từ &nbsp;{{ tour?.price | shortNumber }}</div>
      <a [routerLink]="['/tour', tour._id, tour.seo]"
        ><h5>{{ tour?.title }}</h5></a
      >
    </div>
  </div>

  <div
    [innerHTML]="(fbPlugin?.data)[0]?.fbPage | sanitizeHtml"
    class="fb_page"
  ></div>

  <div
    [innerHTML]="(fbPlugin?.data)[0]?.fbGroup | sanitizeHtml"
    class="fb_page"
  ></div>
</div>
