<section>
  <app-breadcrumb></app-breadcrumb>
</section>

<app-restaurant-search *ngIf="isDetail === false"></app-restaurant-search>
<section fxLayout="column" fxLayoutAlign="center" class="section">
  <div fxFlex="10"></div>
  <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <div fxFlex="72" fxFlex.lt-md="80">
      <router-outlet></router-outlet>
    </div>
    <div fxFlex="27" fxFlex.lt-md="80" class="filter">
      <app-restaurant-right></app-restaurant-right>
    </div>
  </div>
  <div fxFlex="10"></div>
</section>
