<div class="login_wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="box">
    <mat-card-header>
      <mat-card-title>Đăng Ký</mat-card-title>
    </mat-card-header>

    <form
      class="login_form"
      [formGroup]="signupForm"
      (ngSubmit)="registerUser()"
    >
      <mat-card-content>
        <mat-form-field class="login_full_width">
          <input
            matInput
            formControlName="name"
            color="warn"
            placeholder="Tên hiển thị"
          />
        </mat-form-field>
        <mat-form-field class="login_full_width">
          <input
            matInput
            formControlName="email"
            color="warn"
            placeholder="Email"
          />
        </mat-form-field>
        <mat-form-field class="login_full_width">
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Mật khẩu"
          />
        </mat-form-field>
      </mat-card-content>
      <button type="submit" mat-stroked-button color="warn" class="btn-block">
        Đăng Ký
      </button>
    </form>
  </div>
</div>
