@import "../../../scss/varriable";
@import "../../../scss/mixins";
@import "../../../scss/responsive";

::ng-deep mat-list-item.active .mat-list-item-content {
  color: $btn_bg;
  opacity: 1;
  transform: scalex(1);
}
::ng-deep .mat-expansion-indicator {
  margin-left: 10px;
}

.active {
  color: $btn_hover;
  opacity: 1;
  transform: scalex(1);
}
.prime-item {
  height: 48px;

  &.hide_gtxs {
    @media (min-width: 695px) {
      display: none;
    }
  }
}

.main-menu {
  // padding: 12px 0;
  position: relative;

  &::before {
    position: absolute;
    left: 0;
    height: 35px;
    top: 50%;
    @include transform(translateY(-50%));
    width: 1px;
    background: #eaeaea;
    content: "";
    left: 2%;

    @media #{$mid_device} {
      display: none;
    }

    @media #{$large_device} {
      display: none;
    }
  }
}
a {
  color: #040e27;
  font-weight: bold;
  font-family: $font1;
  position: relative;
  text-transform: capitalize;
  text-decoration: none;

  &:hover {
    color: #e3b04b;
  }
}
