<div fxFlex fxHide.lt-md></div>
<div
  class="popular_places_area"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxFlex="80"
  fxFlex.lt-md
>
  <div>
    <div class="section_title">
      <h3>Chơi đâu và Ở Đâu</h3>
      <p>
        Gợi ý cho du khách về những tour ở Hạ long và chỗ nghỉ nổi bật nhất.
      </p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="center center">
    <div
      fxFlex="65%"
      fxFlex.gt-sm="24%"
      fxFlex.md="40%"
      *ngFor="let cruise of popularCruiseData"
    >
      <mat-card class="single_place">
        <div class="thumb">
          <img mat-card-image [src]="cruise.images[0]" [alt]="cruise.title" />
          <a href="#" class="prise">{{ cruise.price | shortNumber }}</a>
        </div>
        <div class="place_info">
          <a
            [routerLink]="['/tour', 'ha-long-bay-tour', cruise._id, cruise.seo]"
            fxLayoutAlign="start"
            ><h3>{{ cruise.title }}</h3></a
          >
          <p fxLayoutAlign="start" fxLayoutAlign="start">
            {{ cruise.schedule.location }}
          </p>
          <div fxLayoutAlign="start">
            <div class="days">
              <fa-icon [icon]="faClock"></fa-icon>
              <a>
                {{ cruise.schedule.timeStart | date: "dd/MM" }} đến
                {{ cruise.schedule.timeEnd | date: "dd/MM" }}</a
              >
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div
      fxFlex="65%"
      fxFlex.md="40%"
      fxFlex.gt-sm="24%"
      *ngFor="let hotel of popularHotelData"
    >
      <mat-card class="single_place">
        <div class="thumb">
          <img mat-card-image [src]="hotel.images[0]" [alt]="hotel.title" />
          <a href="#" class="prise">{{ hotel.price | shortNumber }}</a>
        </div>
        <div class="place_info">
          <a
            [routerLink]="['/tour', 'khach-san', hotel._id, hotel.seo]"
            fxLayoutAlign="start"
            ><h3>{{ hotel.title }}</h3></a
          >
          <p fxLayoutAlign="start">{{ hotel.schedule.location }}</p>
          <div fxLayoutAlign="start">
            <div class="days">
              <fa-icon [icon]="faClock"></fa-icon>
              <a>
                {{ hotel.schedule.timeStart | date: "dd/MM" }} đến
                {{ hotel.schedule.timeEnd | date: "dd/MM" }}</a
              >
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxFlex>
    <div class="more_place_btn">
      <a class="boxed-btn4" [routerLink]="['/tour']">Xem thêm</a>
    </div>
  </div>
</div>
<div fxFlex fxHide.lt-md></div>
