<div
  class="popular_places_area"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <div>
    <div class="section_title text-center mb_70">
      <h3>Bạn ăn gì, Bạn ở đâu</h3>
      <p>
        Gợi ý cho du khách về ẩm thực và chỗ nghỉ nổi bật nhất.
      </p>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="center center">
    <div
      fxFlex="65%"
      fxFlex.gt-sm="24%"
      *ngFor="let place of popularPlaceData.data"
    >
      <div class="single_place">
        <div class="thumb">
          <img [src]="place.image" [alt]="place.title" />
          <!-- <a href="#" class="prise">$500</a> -->
        </div>
        <div class="place_info">
          <a href="destination_details.html" fxLayoutAlign="start"
            ><h3>{{ place.title }}</h3></a
          >
          <p fxLayoutAlign="start" fxLayoutAlign="start">{{ place.address }}</p>
          <div class="rating_days d-flex justify-content-between">
            <!-- <span class="d-flex justify-content-center align-items-center">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <a href="#">(20 Review)</a>
            </span> -->
            <!-- <div class="days" fxLayoutAlign="start">
              <i class="fa fa-clock-o"></i>
              <a href="#">5 Days</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div
      fxFlex="65%"
      fxFlex.gt-sm="24%"
      *ngFor="let restaurant of popularRestaurant.data"
    >
      <div class="single_place">
        <div class="thumb">
          <img [src]="restaurant.image" [alt]="restaurant.title" />
          <!-- <a href="#" class="prise">$500</a> -->
        </div>
        <div class="place_info">
          <a href="destination_details.html" fxLayoutAlign="start"
            ><h3>{{ restaurant.title }}</h3></a
          >
          <p fxLayoutAlign="start">{{ restaurant.address }}</p>
          <div
            class="rating_days d-flex justify-content-between"
            fxLayoutAlign="start"
          >
            <!-- <span class="d-flex justify-content-center align-items-center">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <a href="#">(20 Review)</a>
            </span> -->
            <!-- <div class="days">
              <i class="fa fa-clock-o"></i>
              <a href="#">5 Days</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
