@import "../../scss/varriable";
@import "../../scss/mixins";
@import "../../scss/responsive";
@import "../../scss/section_title";

.popular_places_area {
  padding-top: 142px;
  padding-bottom: 150px;
  background: #f7fafd;
  text-align: center;
  @media #{$mobile_device} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .single_place {
    background: #f8f8f8;
    @include border-radius(5px);
    overflow: hidden;
    @include transition(0.3s);
    margin-bottom: 30px;
    .thumb {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
      .prise {
        position: absolute;
        background: #2b2b28;
        padding: 7px 18px 4px 18px;
        display: inline-block;
        top: 20px;
        left: 20px;
        @include border-radius(18px);
        color: #f8f8f8;
        font-size: 16px;
        @include transition(0.3s);
      }
    }
    .place_info {
      padding: 27px 20px 25px 20px;
      h3 {
        font-size: 22px;
        font-weight: 400;
        color: #040e27;
        margin-bottom: 0;
        @include transition(0.3s);
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: #7a838b;
        margin-top: 2px;
        margin-bottom: 7px;
      }
      .rating_days {
        span {
          i {
            font-size: 12px;
            color: #fdae5c;
          }
          a {
            font-size: 14px;
            color: #7a838b;
            margin-left: 5px;
          }
        }
        .days {
          font-size: 14px;
          font-weight: 400;
          color: #7a838b;
          i {
            margin-right: 8px;
          }
          a {
            font-size: 14px;
            color: #7a838b;
          }
        }
      }
    }
    &:hover {
      @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.05));
      .place_info {
        h3 {
          color: #e3b04b;
        }
      }
      .thumb {
        .prise {
          background: #e3b04b;
        }
      }
    }
  }
  .more_place_btn {
    margin-top: 40px;
  }
}

.filter_result_wrap {
  h3 {
    font-size: 16px;
    font-weight: 500;
    color: #001d38;
    margin-bottom: 26px;
  }
  .filter_bordered {
    border: 1px solid #dee2e7;
    @include border-radius(5px);
    padding: 25px;
    @media #{$mobile_device} {
      margin-bottom: 30px;
    }
    @media #{$tablet_device} {
      margin-bottom: 30px;
    }
  }
  .filter_inner {
    display: block;
    overflow: visible;
    .nice-select {
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #aab1b7;
      font-weight: 300;
      background: transparent;
      border: 1px solid #dee2e7;
      margin-bottom: 15px;
      &::after {
        content: "\f0d7 ";
        right: 21px;
        top: 5px;
        font-family: "fontawesome";
        color: #aab1b7;
        font-size: 16px;
      }
      .option {
        cursor: pointer;
        font-weight: 400;
        line-height: 40px;
        list-style: none;
        min-height: 40px;
        outline: none;
        padding-left: 18px;
        padding-right: 29px;
        text-align: left;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        color: #000;
        font-weight: 400;
      }
      &.open .list {
        width: 100%;
      }
    }
  }
  .range_slider_wrap {
    span.range {
      color: #040e27;
      font-size: 16px;
      font-weight: 400;
      display: block;
      margin-bottom: 15px;
    }
    p {
      margin-top: 14px;
      margin-bottom: 27px;
      input {
        background-color: transparent;
      }
    }
    .ui-widget.ui-widget-content {
      border: 0;
      background: #ffd8da;
    }
    .ui-slider-horizontal {
      height: 2px;
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
      border: 2px solid #e3b04b;
      background: #fff;
      font-weight: normal;
      width: 14px;
      height: 16px;
      border-radius: 5px;
    }
    .ui-widget-header {
      background: #ff4a52;
    }
    .ui-slider-horizontal .ui-slider-handle {
      top: -7px;
      margin-left: -0.6em;
    }
  }
  .reset_btn {
    button {
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
}
