<div fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex="80">
    <section class="elementor-element elementor-top-section">
      <div
        class="elementor-row"
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayout.lt-md="column"
        fxLayoutAlign="center center"
      >
        <div class="elementor-top-column">
          <div
            class="elementor-widget-wrap"
            fxLayout="column"
            fxLayoutAlign="center"
          >
            <div>
              <div
                class="hotel_title"
                [style.text-align]="'start'"
                fxLayout="row"
                fxLayoutGap="15px"
                fxLayoutAlign="start"
              >
                <h2
                  [style.padding-right.px]="15"
                  [style.border-right]="'1px solid'"
                >
                  {{ restaurantDetail?.name }}
                </h2>
                <h2>
                  <a href="{{ 'tel:' + restaurantDetail?.phone }}"
                    >SĐT: {{ restaurantDetail?.phone }}</a
                  >
                </h2>
              </div>
              <div class="elementor-image">
                <img
                  [src]="restaurantDetail?.image"
                  [alt]="restaurantDetail?.name"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      [style.margin-top.px]="25"
      class="facilities"
      *ngIf="isMenu === true"
    >
      <div class="elementor-row">
        <div class="hotel_title">
          <h2 [style.text-align]="'center'">
            Menu tham khảo
          </h2>
        </div>
        <div
          [style.margin-top.px]="25"
          fxLayout="row wrap"
          fxLayoutAlign="center"
          fxLayoutGap="20px"
          fxLayoutGap.lt-md="30px"
          fxLayout.lt-sm="column"
          class="menu_flex"
        >
          <div
            *ngFor="let menu of restaurantDetail?.menu"
            class="hero-menu-item"
            style="height: 112px;"
            fxLayout="row"
            fxFlex="40"
            fxFlex.lt-sm="100"
          >
            <a
              (click)="showPreview(menu.image)"
              class="hero-menu-item-img image-popup"
              ><img [src]="menu.image" [alt]="menu.name" />
              <fa-icon [icon]="faSearch"></fa-icon>
            </a>
            <div fxLayout="column">
              <div class="hero-menu-item-title fl-wrap">
                <h6>{{ menu?.name }}</h6>
                <!-- <div class="hmi-dec" style="left: 162px;"></div> -->
                <span class="hero-menu-item-price">{{
                  menu?.price | currency: "VND":"symbol":"1.0-0"
                }}</span>
              </div>
              <div class="hero-menu-item-details">
                <p>
                  {{ menu?.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="elementor-divider" [style.width.%]="50" *ngIf="isMenu === true">
      <mat-divider [vertical]="true"></mat-divider>
    </div>
    <section [style.margin-top.px]="25">
      <div class="elementor-row">
        <div class="hotel_title">
          <h2 [style.text-align]="'start'" class="facilities">
            Giới thiệu
          </h2>
        </div>
        <div class="elementor-widget-text-editor">
          <h3 [style.text-align]="'start'">
            Địa chỉ: {{ restaurantDetail?.address }}
          </h3>
          <div
            class="elementor-widget-container"
            [style.margin-top.px]="25"
            [innerHtml]="restaurantDetail?.content | sanitizeHtml"
          ></div>
        </div>
      </div>
    </section>

    <section
      [style.margin-top.px]="35"
      class="elementor-element"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="hotel_title facilities">
        <h2>
          Hình ảnh
        </h2>
      </div>
    </section>
    <section
      class="elementor-element elementor-top-section"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="elementor-top-column">
        <ngx-image-gallery
          [images]="restaurantImages"
          [conf]="conf"
        ></ngx-image-gallery>
        <div
          class="gdlr-gallery-item gdlr-item"
          fxLayout="row wrap"
          fxLayoutGap="15px"
          fxLayoutAlign="center"
        >
          <div
            class="gallery-column four columns"
            fxFlex="20"
            *ngFor="let image of restaurantImages; let i = index"
          >
            <a (click)="openGallery(i)" [style.cursor]="'pointer'" *ngIf="i < 3"
              ><img
                [src]="image?.url"
                [alt]="restaurantDetail?.name"
                style="opacity: 1;"
            /></a>
            <div
              class="img"
              [style.cursor]="'pointer'"
              *ngIf="i === 3"
              (click)="openGallery(i)"
            >
              <img
                class="imglast"
                [src]="image?.url"
                [alt]="restaurantDetail?.name"
              />
              <span class="overlay">
                +{{ restaurantImages?.length - (i + 1) }}</span
              >
            </div>
            <a> </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div fxFlex="10"></div>
</div>
