@import "../../scss/varriable";
@import "../../scss/mixins";
@import "../../scss/responsive";

.bradcam_area {
  background-size: cover;
  background-position: center center;
  padding: 175px 0;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  z-index: 0;
  @media #{$tablet_device} {
    padding: 120px 0;
  }
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #040e27;
    opacity: 0.1;
    z-index: -1;
    content: "";
  }
  @media #{$mobile_device} {
    padding: 150px 0;
  }
  h3 {
    font-size: 80px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 90px;
    text-transform: capitalize;
    font-family: $font3;
    @media #{$mobile_device} {
      font-size: 40px;
    }
  }
  // &.Extra_padding {
  //   padding: 399px 0;
  //   @media #{$mobile_device} {
  //     padding: 150px 0;
  //   }
  //   @media #{$tablet_device} {
  //     padding: 150px 0;
  //   }
  //   @media #{$mid_device} {
  //     padding: 150px 0;
  //   }
  // }
}

.breadcrumb {
  background: none;
  font-size: 0.8em;
  margin: 0;
  a,
  span {
    color: darkgrey;
  }
  a:hover,
  span:hover {
    color: $btn_hover;
    text-decoration: none;
  }
  li {
    list-style: none;
    margin: 5px;
  }

  li:last-child {
    margin-right: 20px;
  }
  li::after {
    content: "/";
    color: darkgrey;
  }
  li:last-child::after {
    content: "";
  }
  li {
    span {
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      text-transform: capitalize;
      a {
        color: #fff;
        &:hover {
          color: $btn_hover;
        }
      }
    }
  }
}
