<div class="comments-area">
  <h4>Comment</h4>
</div>

<ng-template #List let-items>
  <div
    class="comment-list"
    *ngFor="
      let item of items
        | paginate
          : {
              itemsPerPage: limit,
              currentPage: currentPage,
              totalItems: count
            };
      let i = index
    "
    fxLayout="column"
  >
    <div class="single-comment justify-content-between d-flex" fxLayout="row">
      <div class="user justify-content-between d-flex">
        <div class="thumb">
          <img [src]="'http://' + item.author.avatar" alt="item.author.name" />
        </div>
        <div class="desc" fxFlexAlign="start">
          <p class="comment">
            {{ item?.content }}
          </p>
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <h5>
                <a href="#">{{ item?.author.name }}</a>
              </h5>
              <p class="date">{{ item?.createdAt | date: "medium" }}</p>
            </div>
            <div class="reply-btn" fxLayoutAlign="end">
              <a
                class="btn-reply text-uppercase"
                (click)="checkIsReply(item._id, i)"
                *ngIf="item.answer !== undefined"
                >reply</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <form
      class="form-contact comment_form"
      action="#"
      *ngIf="isReply === true && itemIndex === i"
      fxLayout="column"
      [formGroup]="replyForm"
      (ngSubmit)="postReply()"
    >
      <mat-form-field class="form-group" fxFlex="100">
        <textarea
          formControlName="content"
          matInput
          class="form-control w-100"
          required
          cols="15"
          rows="3"
          placeholder="Write Comment"
        ></textarea>
      </mat-form-field>

      <mat-error *ngIf="commentForm.hasError('required')"
        >Bắt buộc nhập</mat-error
      >
      <mat-error *ngIf="commentForm.hasError('minLength')"
        >Nhập ít nhất 5 ký tự</mat-error
      >
      <div class="form-group">
        <button
          [disabled]="replyForm.invalid"
          mat-flat-button
          type="submit"
          class="button-contactForm btn_1 boxed-btn"
          color="warn"
        >
          Send Reply
        </button>
      </div>
    </form>
    <div class="reply">
      <ng-container
        *ngTemplateOutlet="List; context: { $implicit: item.answer }"
        fxLayout="column"
      >
      </ng-container>
    </div>
  </div>
</ng-template>
<ng-container
  *ngTemplateOutlet="List; context: { $implicit: commentData?.data }"
>
</ng-container>
<pagination-template
  class="blog-pagination justify-content-center"
  #p="paginationApi"
  (pageChange)="pageChange.emit($event)"
>
  <ul class="pagination" fxLayout="row" fxLayoutAlign="center center">
    <div>
      <li class="page-item">
        <a
          class="page-link"
          aria-label="Previous"
          (click)="getComment(currentPage - 1)"
          *ngIf="!isFirstPage"
        >
          <fa-icon [icon]="faAngleLeft"></fa-icon>
        </a>
        <a class="page-link disabled" aria-label="Previous" *ngIf="isFirstPage">
          <fa-icon [icon]="faAngleLeft"></fa-icon>
        </a>
      </li>
    </div>

    <div
      *ngFor="let page of p.pages"
      [class.current]="p.getCurrent() === page.value"
    >
      <li class="page-item">
        <a
          class="page-link"
          [class.disabled]="p.getCurrent() === page.value"
          *ngIf="p.getCurrent() === page.value"
          >{{ page.label }}</a
        >
        <a
          class="page-link"
          (click)="getComment(page.value)"
          *ngIf="p.getCurrent() !== page.value"
          >{{ page.label }}</a
        >
      </li>
    </div>
    <div>
      <li class="page-item">
        <a
          class="page-link"
          aria-label="Next"
          (click)="getComment(currentPage + 1)"
          *ngIf="!isLastPage"
        >
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </a>
        <a class="page-link disabled" aria-label="Next" *ngIf="isLastPage">
          <fa-icon [icon]="faAngleRight"></fa-icon>
        </a>
      </li>
    </div>
  </ul>
</pagination-template>

<div class="comment-form" *ngIf="isLoggin">
  <h4>Leave a Reply</h4>
  <form
    class="form-contact comment_form"
    action="#"
    id="commentForm"
    fxLayout="column"
    [formGroup]="commentForm"
    (ngSubmit)="postComment()"
  >
    <mat-form-field class="form-group" fxFlex="100">
      <textarea
        formControlName="content"
        matInput
        class="form-control w-100"
        required
        cols="30"
        rows="9"
        placeholder="Write Comment"
      ></textarea>
    </mat-form-field>

    <mat-error *ngIf="commentForm.hasError('required')"
      >Bắt buộc nhập</mat-error
    >
    <mat-error *ngIf="commentForm.hasError('minLength')"
      >Nhập ít nhất 5 ký tự</mat-error
    >
    <div class="form-group">
      <button
        [disabled]="commentForm.invalid"
        mat-flat-button
        type="submit"
        class="button-contactForm btn_1 boxed-btn"
        color="warn"
      >
        Send Message
      </button>
    </div>
  </form>
</div>
