<div class="where_togo_area" fxLayout="row wrap">
  <div fxFlex fxFlex.lt-sm="0"></div>
  <div fxFlex="80" fxLayoutAlign="center center" fxLayout="row">
    <div class="search_wrap" fxLayout="row">
      <form
        fxFlex
        fxLayout="row"
        fxLayout.lt-md="column"
        class="search_form"
        action="#"
        fxFlexOffset="5"
        fxLayoutGap="5"
      >
        <mat-form-field
          fxFlex="80"
          fxFlexOffset="5"
          fxLayoutGap="5"
          fxFlexOffset.lt-md="0"
          class="input_field"
        >
          <input matInput type="text" placeholder="Tìm kiếm" />

          <div
            class="search_btn"
            fxFlexOffset="5"
            fxLayoutAlign="start"
            fxLayoutGap="5"
          >
            <button class="boxed-btn4" type="submit">Search</button>
          </div>
        </mat-form-field>
      </form>
      <div fxFlex></div>
    </div>
  </div>
  <div fxFlex fxFlex.lt-sm="0"></div>
</div>
